html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead {
border:0;
outline:0;
font-size:100%;
background:transparent;
margin:0;
padding:0;
}

body {
background-color:#006C96;
color:#16180f;
font-family:"Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;
}

a {
color:#666;
text-decoration:none;
}

p {
line-height:18px;
font-size:18px;
padding-bottom:18px;
color:#2d2d2d;
text-align:justify;
}

h1 {
font-size:40px;
font-family:"Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;
font-weight:700;
color:#2d2d2d;
}

h2 {
font-size:36px;
font-family:"Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;
font-weight:400;
color:#009EDB;
}

h3 {
font-size:30px;
font-family:"Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;
font-weight:400;
color:#009EDB;
}

.h3class {
	font-size: 25px;
}

.ComparisonImage {
	margin-top: 10px;
}

#form {
	margin-left: 275px;
	margin-bottom: 365px;
}

#Price {
	margin-left: 53px;
}

#PayParagraph {
	margin-top: 60px;
	
}

#main {
width:940px;
position:relative;
margin:0 auto;
}

#header {
position:relative;
background-image:url(images/header-bg.png);
background-repeat:no-repeat;
width:940px;
height:129px;
margin-top:10px;
float:left;
}

#header_left {
position:relative;
background-image:url(images/the-easel-for-ipad.png);
background-repeat:no-repeat;
width:640px;
height:129px;
float:left;
}

#logo {
	width:400px;
	height:65px;
	margin-left:60px;
	margin-top:26px;
}

#header_left_top h1{
display:none;
}

#header_left_top {
position:relative;
width:640px;
height:91px;
float:left;
}

#header_left_bottom {
position:relative;
background-image:url(images/menu.png);
background-repeat:no-repeat;
width:640px;
height:38px;
float:left;
}

#header_left_bottom ul {
	list-style:none;
	margin-top:8px;
	margin-left:190px;
}

#header_left_bottom li {
	display:inline;
	font-size:18px;
	text-transform:uppercase;
}

#header_left_bottom li a {
	padding-left:22px;
	padding-right:22px;
	color:#FFF;
}

#header_left_bottom li a:hover {
	color:#000;
}

#header_right {
position:relative;
width:300px;
height:129px;
float:left;
}

#content {
position:relative;
width:940px;
float:left;
padding-top:80px;
background-color:#FFF;
}

#content_left {
position:relative;
width:460px;
float:left;
margin-bottom:0px;
}

#content_left.buy {
	margin-bottom: 360px;
}

#content_left_content {
position:relative;
display:block;
margin-left:60px;
}

#price2 {
	position: absolute;
	bottom: 150px;
	left: 510px;
}

#content_right {
background-color:#FFF;
position:relative;
width:480px;
float:left;
}

#content_footer {
position:relative;
background-image:url(images/content-footer-bg.png);
width:940px;
height:25px;
float:left;
}

#footer {
position:relative;
width:940px;
color:#fff;
float:left;
padding-bottom:50px;
}

#footer_left {
position:relative;
width:658px;
color:#fff;
float:left;
}

#footer_left ul {
list-style:none;
margin-top:15px;
margin-left:40px;
}

#footer_left li {
display:inline;
font-size:18px;
text-transform:uppercase;
}

#footer_left li a {
padding-left:22px;
padding-right:22px;
color:#FFF;
}

#footer_left li a:hover {
color:#000;
}

#footer_right {
position:relative;
width:282px;
color:#fff;
float:left;
}

#Netflix {
	margin-left: 95px;
}

#Wikipedia {
	margin-left: 95px;
	margin-bottom: 10px;
}

#Google{
	margin-left: 95px;
}

#FreeShipping {
	font-size: 14px;
	margin-left: 40px;
	text-decoration: underline;
}

#Email {
	text-align: center;
	font-size: 13px;
}

